<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LOGMag</display-name>
  <resource-ref>
    <res-ref-name>jdbc/dblog</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>OnlineFilter</filter-name>
    <filter-class>com.chdw.loc.filter.OnlineFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OnlineFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OnlineFilter</filter-name>
    <url-pattern>*.view</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OnlineFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>